html {
	background-color: #E6E7E3;
	padding: 15px;
	font-family: helvetica, arial;
	color: #1A1A1A;
}

body {
	background-color: #FFF;
	padding: 15px;
	margin: 0px auto;
	width: 800px;
}

a {
	font-weight: normal;
	color: #B24435;
	text-decoration: none;
}

.clear {
	clear: both;
	display:block;
	height: 0px;
	overflow: hidden;
}


.message {
	margin: 10px 0px;
	background-color: #E6E7E3;
	padding: 3px;
	font-size: 12px;
}

	.message span {
		display: block;
		float: left;
		margin-right: 10px;	
	}

#sidebar {
	float: right;
	margin-top: 57px;
	width: 195px;
	border-left: 1px solid #E6E7E3;
	min-height: 300px;
	padding: 0px 15px;
}

	#sidebar img {
		width: 210px;
	}

	.section {
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid #E6E7E3;
	}

	.section:last-child {
		padding-bottom: 0px;
		margin-bottom: 0px;
		border-bottom: none;
	}

		.section h3 {
			margin:0;
			padding:0;
		}

		.section ul {
			list-style-type: none;
			margin: 0;
			padding:0;
		}

			.section li {
				padding: 3px 0px;
			}

#main {
	float: left;
	width: 555px;
}

#header {
	padding: 0;
	margin: 0;
	padding: 5px;
	margin-bottom: 10px;
	text-align: center;
	border-bottom: 1px solid #E6E7E3;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

	#header h1 {
		padding: 0;
		margin: 0;
	}

		#header h1 a {
			color: #A72024;
			font-weight: bold;
		}

#top {
	
}

	#features {
		position: relative;
		height: 325px;
		margin-bottom: 10px;
		border-bottom: 1px solid #E6E7E3;
		padding: 10px 0px;
	}

		.featured_item {
			
		}

			.featured_item_title {
				display: block;
				padding: 5px;
				width: 545px;
				height: 40px;
				color: #1A1A1A;
				border-top: 1px solid #FFF;
				background-color: #E6E7E3;
				font-weight: bold;
				font-size: 18px;
			}

				.featured_item_title a {
					font-weight: bold;
				}

			.featured_item_link {
				display: block;
				font-weight: bold;
			}

				.featured_item_image {
					width: 555px;
					height: 280px;
				}

#content {
	position: relative;
}
		.plusOneWrap {
			float: left;
			margin-top: 0px;
		}

	.home_list {
		margin: 0;
		padding: 0;
	}
	
		.list_item {
			padding: 10px 0px;
			list-style-type: none;
			border-bottom: 1px solid #E6E7E3;
		}

		.activity {
			border-bottom: 1px solid #E6E7E3;
			margin-bottom: 15px;
			padding-bottom: 15px;
		}

			.activity h2 {
				margin: 0px;
			}

				.activity h2 a {
					color: #A72024;
					font-weight: bold;
				}

			.activity .attachment_media {
				margin-top: 10px;
			}
				.activity .attachment_image img {
					max-width: 500px;
				}

			.meta {
				padding: 0;
				margin: 0;
				font-size: 13px;
				color: #58585A;
				margin-bottom: 5px;
			}

				.meta p {
					float: left;
					margin: 0;
					margin-right: 10px;
				}

				.date {
					float: left !important;
					margin-right: 10px;
				}

		.comments {

		}
			.comments h2 {
				padding: 0;
				margin: 0;
			}

				.comments h2 .add_comment {
					display: block;
					font-size: 16px;
					float: right;
					margin-right: 0px;
					text-decoration: underline;
				}

			.comment_list {
				list-style-type: none;
				margin: 0;
				padding: 0;
			}

				.comment_item {
					border-bottom: 1px dotted #E6E7E3;
					padding: 10px 5px;
				}

					.comment_item img {
						height: 50px;
						width: 50px;
						float: left;
						margin-right: 5px;
					}

					.comment_content {
						padding: 0;
						margin: 0;
					}

#footer {
	margin-top: 10px;
	background-color: #E6E7E3;
	padding: 5px;
	font-size: 14px;
}